<% @couple_history = $couple_history if $couple_history %>
<% @parents_history = $parents_history if $parents_history %>
<% @users_list = $users_list if $users_list %>
<div class="container" style="width: 80%; height: 75%;  background: rgba(68, 68, 68, .4);">
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">História do casal</a></li>
      <li><a href="#tabs-2">Gerenciar convidados</a></li>
      <li><a href="#tabs-3">Gerenciar texto dos pais, padrinhos e das crianças</a></li>
      <li><a href="#tabs-4">Gerenciamento de usuários administradores</a></li>
    </ul>
    <div id="tabs-1" class="clearfix">
      <%= render partial: 'manager/couple_history_manager', locals: { :content => @couple_history } %>
    </div>
    <div id="tabs-2" class="clearfix">
      <%= render partial: 'manager/guests_mnager' %>
    </div>
    <div id="tabs-3">
      <%= render partial: 'manager/main_people_manager', locals: { :parents => @parents_history } %>
    </div>
    <div id="tabs-4">
      <%= render partial: 'manager/users_manager', locals: { :users => @users_list} %>
    </div>
  </div>
</div>
