<style>
    div.home {
        width: 100%;
        /*height: 280px;*/
        height: 135px;
        position: relative;
        color: #FFA526 !important;
        z-index: -1;
    }
    div.home:after {
        /*background: url(<%#= image_url 'home-bg.png' %>);*/
        /*background-color: rgba(152, 153, 151, .85);*/
        /*background-repeat: no-repeat;*/
        /*background-position-x: 50%;*/
        /*background-position-y: 85%;*/

        opacity: 0.85;
        width: 100%;
        /*height: 280px;*/
        height: 135px;
        top: 42;
        left: 0;
        position: absolute;
        z-index: -1;
        content: "";
    }
    div.home .title {
        /*text-align: center;*/
        margin-left: 160px;
        /*width: 100%;*/
        font-weight: lighter;
        position: absolute;
        z-index: 0;
    }
    div.home h1 {
        padding-top: 10px;
        font-size: 75px;
        -webkit-font-smoothing: antialiased;
        font-family: 'Rouge Script', cursive;
        color: #FFA526 !important;
        margin-bottom: -7px;
    }

    div.home div {
        font-family: 'Rouge Script', cursive;
        color: #FFA526 !important;
        font-size: 50px;
        line-height: 45px;
        font-weight: bold;
    }
</style>

<div class="home">
    <div class="title">
      <h1>Felipe & Isaclaudia</h1>
      <div>
        <%= date_diff_from_now '24/01/2015' %>
      </div>
    </div>
</div>
<br />

<div id="amazingslider-wrapper-0" class="slider-gamb" style="display:block;position:relative;max-width:600px;margin:0px auto 57px;">
    <div id="amazingslider-0" style="display:block;position:relative;margin:0 auto;">
        <ul class="amazingslider-slides" style="display:none;">
            <% files_from_directory("#{Rails.root}/public/pictures/casal/*").each do |pic| %>
                <% next unless pic.split('/').last.index('lightbox').nil? %>
                <% next unless pic.split('/').last.index('thumbnails').nil? %>
                <% if pic.split('/').last.index('.db').nil? %>
                    <li><%= link_to image_tag("#{root_url}pictures/casal/#{pic.split('/').last}"), "#{root_url}pictures/casal/#{pic.split('/').last}", :class => 'html5lightbox' %></li>
                <% end %>
            <% end %>
        </ul>
        <ul class="amazingslider-thumbnails" style="display:none;">
            <% files_from_directory("#{Rails.root}/public/pictures/casal/thumbnails/*").each do |pic| %>
                <% if pic.split('/').last.index('.db').nil? %>
                    <li><%= image_tag "#{root_url}pictures/casal/thumbnails/#{pic.split('/').last}" %></li>
                <% end %>
            <% end %>
        </ul>
        <div class="amazingslider-engine"><%= link_to 'Responsive Image Slider jQuery', 'http://amazingslider.com', :title => 'Responsive Image Slider jQuery' %></div>
    </div>
</div>

