<style>
    h3 {
        color: #FFA526 !important;
    }
    .multiple-border {
      -webkit-box-shadow:
      0px 0px 0px 2px rgba(0,0,0,0.6),
      0px 0px 0px 14px #fff,
      0px 0px 0px 18px rgba(0,0,0,0.2),
      6px 6px 8px 17px #555;

      -moz-box-shadow:
      0px 0px 0px 2px rgba(0,0,0,0.6),
      0px 0px 0px 14px #fff,
      0px 0px 0px 18px rgba(0,0,0,0.2),
      6px 6px 8px 17px #555;

      box-shadow:
      0px 0px 0px 2px rgba(0,0,0,0.6),
      0px 0px 0px 14px #fff,
      0px 0px 0px 18px rgba(0,0,0,0.2),
      6px 6px 8px 17px #555;

      display: inline-block;
      margin: 20px 10px !important;
    }
    .right-marg {
        margin: 20px 50px 20px 10px !important;

    }
</style>
<div class="container" style="width: 80%; height: 75%;  background: rgba(68, 68, 68, .4);">
  <div id="accordion">
    <h3>Pais dos noivos</h3>
    <div style="display: table; width: 100%;">
      <div style="display: table-cell; width: 15%;">
        <%= link_to image_tag("#{root_url}pictures/main_people/parents/isa.jpg", :class => 'multiple-border'), "#{root_url}pictures/main_people/parents/isa.jpg", :class => 'fancybox-effects-d', :title => 'Pais da Isaclaudia' %>
      </div>
      <div style="display: table-cell; vertical-align: middle; text-align: center; padding: 0 40px;">
        <h4><%= "<p style='text-align:justify'>#{raw(@parents_hist[:title])}</p>".html_safe if @parents_hist && @parents_hist[:title] %></h4>
        <%= @parents_hist ? "<p style='text-align:justify'>#{raw(@parents_hist[:page_text])}</p>".html_safe : '<p>Aqui entra a história dos pais dos noivos!</p>'.html_safe %>
      </div>
      <div style="display: table-cell; width: 15%; position: relative; right: 20px;">
        <%= link_to image_tag("#{root_url}pictures/main_people/parents/felipe.jpg", :class => 'multiple-border'), "#{root_url}pictures/main_people/parents/felipe.jpg", :class => 'fancybox', :title => 'Pais do Felipe' %>
      </div>
    </div>
    <h3>Padrinhos</h3>
    <div style="height: 400px;">
      <div id="tabs">
        <ul>
          <li><a href="#tabs-1">Adriano</a></li>
          <li><a href="#tabs-2">Ana Claudia</a></li>
          <li><a href="#tabs-3">Carlos</a></li>
          <li><a href="#tabs-4">Cleiton</a></li>
          <li><a href="#tabs-5">Diogo</a></li>
          <li><a href="#tabs-6">Isabel</a></li>
          <li><a href="#tabs-7">Isadora e Edinaldo</a></li>
          <li><a href="#tabs-8">Isis</a></li>
          <li><a href="#tabs-9">Janaina e Almi</a></li>
          <li><a href="#tabs-10">Maiara</a></li>
          <li><a href="#tabs-11">Maria</a></li>
          <li><a href="#tabs-12">Murilo</a></li>
          <li><a href="#tabs-13">Padre Milton</a></li>
          <li><a href="#tabs-14">Rahira</a></li>
        </ul>
        <div id="tabs-1" class="clearfix">
          <%#= render partial: 'manager/couple_history_manager', locals: { :content => @couple_history } %>
            aspndasjasddb ashkdashsahdashdvashd vasjdvasghdva
        </div>
        <div id="tabs-2" class="clearfix">
          <%#= render partial: 'manager/guests_mnager' %>
            aspndasjasddb ashkdashsahdashdvashd vasjdvasghdva
        </div>
        <div id="tabs-3">
          <%#= render partial: 'manager/users_manager', locals: { :users => @users_list} %>
            aspndasjasddb ashkdashsahdashdvashd vasjdvasghdva
        </div>
        <div id="tabs-4">
          <%#= render partial: 'manager/users_manager', locals: { :users => @users_list} %>
        </div>
        <div id="tabs-5">
          <%#= render partial: 'manager/users_manager', locals: { :users => @users_list} %>
        </div>
        <div id="tabs-6">
          <%#= render partial: 'manager/users_manager', locals: { :users => @users_list} %>
        </div>
        <div id="tabs-7">
          <%#= render partial: 'manager/users_manager', locals: { :users => @users_list} %>
        </div>
        <div id="tabs-8">
          <%#= render partial: 'manager/users_manager', locals: { :users => @users_list} %>
        </div>
        <div id="tabs-9">
          <%#= render partial: 'manager/users_manager', locals: { :users => @users_list} %>
        </div>
        <div id="tabs-10">
          <%#= render partial: 'manager/users_manager', locals: { :users => @users_list} %>
        </div>
        <div id="tabs-11">
          <%#= render partial: 'manager/users_manager', locals: { :users => @users_list} %>
        </div>
        <div id="tabs-12">
          <%#= render partial: 'manager/users_manager', locals: { :users => @users_list} %>
        </div>
        <div id="tabs-13">
          <%#= render partial: 'manager/users_manager', locals: { :users => @users_list} %>
        </div>
        <div id="tabs-14">
          <%#= render partial: 'manager/users_manager', locals: { :users => @users_list} %>
        </div>
      </div>
      <br /><br />
    </div>
    <h3>Crianças</h3>
    <div>Nam dui erat, auctor a, dignissim quis. LEMBRAR DA MARIA LUIZA</div>
  </div>
</div>