<style>
    .content-holder {
        background: rgba(0, 0, 0, .7);
        margin: 0 auto;
        width: 1024px;
        height: 200px;
    }
</style>

<div class="content-holder">
    lero lero
</div>
