<style>
    .content-holder {
        background: transparent;
        margin: 0 auto;
        width: 1024px;
    }
    .group-supplier-title {
        width: 636px;
        margin: 10px auto;
        background: inherit;
    }
    .supplier-container {
        width: 100%;
        padding: 8px;
        padding-left: 12px;
        border-left: 8px solid #CCC;
        overflow: hidden;
        padding: 8px;
        padding-left: 12px;
        -moz-box-shadow: 1px 1px 5px 0 #ccc;
        -webkit-box-shadow: 1px 1px 5px 0 #ccc;
        box-shadow: 1px 1px 5px 0 #ccc;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        -moz-border-radius-bottomright: 8px;
        -webkit-border-bottom-right-radius: 8px;
        border-bottom-right-radius: 8px;
        background: #fff;
    }
    .art-bd-img {
        width: 16px;
        height: 16px;
    }
    .main-art-bd-img {
        width: 260px;
        height: 118px;
        background: #fff;
    }
    .supplier-name {
        display: inline-block;
        color: #464646;
        text-transform: uppercase;
        font-weight: bold;
    }
    .lnk-img {
        float: left;
    }
    .txt-bd {
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
        width: 345px;
    }
    .title {
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
    }
    .title a {
        color: #464646;
        font-size: 19px;
    }
    .icon-facebook2 {
        float: right;
        display: inline-block;
        text-decoration: none;
        color: #3b5998;
        padding-top: 2px;
    }
    .icon-youtube {
        float: right;
        display: inline-block;
        text-decoration: none;
        color: #f00;
        padding-right: 5px;
        font-size: 20px;
    }
</style>

<div class="content-holder">
  <!-- Buffet Agripino -->
  <div class="group-supplier-title">
    <!--<img class="art-bd-img" src="http://www.buffetagripinoguedes.com.br/site/templates/yoo_intro/favicon.ico">-->
    <a class="supplier-name" target="_blank" href="http://www.buffetagripinoguedes.com.br">Buffet Agripino Guedes</a>
    <div class="supplier-container" style="border-left-color: rgb(0, 170, 234);">
      <a class="lnk-img" target="_blank" href="http://www.buffetagripinoguedes.com.br/site/">
        <img class="main-art-bd-img" src="http://www.buffetagripinoguedes.com.br/site/images/yootheme/logo.png">
      </a>
      <div class="txt-bd">
        <h1 class="title">
          <a target="_blank" href="http://www.buffetagripinoguedes.com.br/site/">Buffet Agripino Guedes - Teaserpage</a>
        </h1>
        <p class="description">Buffet Agripino Guedes</p>
        <a class="action" target="_blank" href="http://www.buffetagripinoguedes.com.br/site/"><span class="icon-arrow-right"></span> buffetagripinoguedes.com.br</a>
        <a href="https://www.facebook.com/agripino.guedes"><span class="icon-facebook2"></span></a>
      </div>
    </div>
  </div>

  <br />

  <!-- Maison Lavoier -->
  <div class="group-supplier-title">
    <!--<img class="art-bd-img" src="http://www.buffetagripinoguedes.com.br/site/templates/yoo_intro/favicon.ico">-->
    <a class="supplier-name" target="_blank" href="https://www.facebook.com/maisonlavoierfestas">Maison Lavoier</a>
    <div class="supplier-container" style="border-left-color: rgb(255, 215, 0);">
      <a class="lnk-img" target="_blank" href="https://www.facebook.com/maisonlavoierfestas">
        <img class="main-art-bd-img" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/v/t1.0-1/p160x160/1002015_739861692708313_2023847298_n.jpg?oh=d54abcdcbc93e98b9f0b68ce7abcb173&oe=54F7229F&__gda__=1424390244_23b466329212291763f6d84720532040">
      </a>
      <div class="txt-bd">
        <h1 class="title">
          <a target="_blank" href="https://www.facebook.com/maisonlavoierfestas">Maison Lavoier Festas</a>
        </h1>
        <p class="description">Salão de festas</p>
        <a class="action" target="_blank" href="https://www.facebook.com/maisonlavoierfestas"><span class="icon-arrow-right"></span> Página no Facebook</a>
        <a href="https://www.facebook.com/maisonlavoierfestas"><span class="icon-facebook2"></span></a>
      </div>
    </div>
  </div>

  <br />

  <!-- Janio DJ -->
  <div class="group-supplier-title">
    <!--<img class="art-bd-img" src="http://www.buffetagripinoguedes.com.br/site/templates/yoo_intro/favicon.ico">-->
    <a class="supplier-name" target="_blank" href="http://janiodj.blogspot.com.br/">Janio DJ</a>
    <div class="supplier-container" style="border-left-color: rgb(0, 0, 0);">
      <a class="lnk-img" target="_blank" href="https://www.facebook.com/Janio-DJ">
        <img class="main-art-bd-img" src="http://3.bp.blogspot.com/-bPYnefS-A-k/T-Ju2XoFFnI/AAAAAAAACAU/8Bs9emBFkZ8/s830/faixa%2Bdo%2Bblog.gif">
      </a>
      <div class="txt-bd">
        <h1 class="title">
          <a target="_blank" href="http://janiodj.blogspot.com.br/">Janio DJ</a>
        </h1>
        <p class="description">A sua festa começa aqui!!!</p>
        <a class="action" target="_blank" href="http://janiodj.blogspot.com.br/"><span class="icon-arrow-right"></span> janiodj.blogspot.com.br</a>
        <a href="https://www.facebook.com/pages/Janio-DJ"><span class="icon-facebook2"></span></a>
      </div>
    </div>
  </div>

  <br />

  <!-- RV Drinks e Bar -->
  <div class="group-supplier-title">
    <!--<img class="art-bd-img" src="http://www.buffetagripinoguedes.com.br/site/templates/yoo_intro/favicon.ico">-->
    <a class="supplier-name" target="_blank" href="https://www.facebook.com/rvdrinks">RV Drinks e Bar</a>
    <div class="supplier-container" style="border-left-color: rgb(130, 176, 77);">
      <a class="lnk-img" target="_blank" href="https://www.facebook.com/rvdrinks">
        <img class="main-art-bd-img" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/v/t1.0-1/p160x160/1496626_267134260103235_1180116006_n.jpg?oh=d206d095564c787b0f21d3fa1639af9c&oe=54EE5E80&__gda__=1424088443_39e35939ef4b216fca8d5a206f81a356">
      </a>
      <div class="txt-bd">
        <h1 class="title">
          <a target="_blank" href="https://www.facebook.com/rvdrinks">RV Drinks e Bar</a>
        </h1>
        <p class="description">Bar e drinks para o seu evento</p>
        <a class="action" target="_blank" href="https://www.facebook.com/rvdrinks"><span class="icon-arrow-right"></span> Página no Facebook</a>
        <a href="https://www.facebook.com/rvdrinks"><span class="icon-facebook2"></span></a>
      </div>
    </div>
  </div>

  <br />

  <!-- R&C Desenhos -->
  <div class="group-supplier-title">
    <!--<img class="art-bd-img" src="http://www.buffetagripinoguedes.com.br/site/templates/yoo_intro/favicon.ico">-->
    <a class="supplier-name" target="_blank" href="http://www.recdesenhos.com.br/">R&C Desenhos</a>
    <div class="supplier-container" style="border-left-color: rgb(154, 254, 3);">
      <a class="lnk-img" target="_blank" href="http://www.recdesenhos.com.br/">
        <img class="main-art-bd-img" src="http://www.recdesenhos.com.br/wp-content/uploads/logorec23.png">
      </a>
      <div class="txt-bd">
        <h1 class="title">
          <a target="_blank" href="http://www.recdesenhos.com.br/">R&C Desenhos</a>
        </h1>
        <p class="description">Bar e drinks para o seu evento</p>
        <a class="action" target="_blank" href="http://www.recdesenhos.com.br/"><span class="icon-arrow-right"></span> recdesenhos.com.br</a>
        <a href="https://www.facebook.com/renato.desenhos"><span class="icon-facebook2"></span></a>
      </div>
    </div>
  </div>

  <br />

  <!-- Classe AA -->
  <div class="group-supplier-title">
    <!--<img class="art-bd-img" src="http://www.buffetagripinoguedes.com.br/site/templates/yoo_intro/favicon.ico">-->
    <a class="supplier-name" target="_blank" href="http://www.classeaa.com.br/">Classe AA</a>
    <div class="supplier-container" style="border-left-color: rgb(134, 1, 28);">
      <a class="lnk-img" target="_blank" href="http://www.classeaa.com.br/">
        <img class="main-art-bd-img" src="http://static.wixstatic.com/media/cdd87d_bee6364baf414435a4fba684f7d917c0.png_srz_p_440_152_75_22_0.50_1.20_0.00_png_srz">
      </a>
      <div class="txt-bd">
        <h1 class="title">
          <a target="_blank" href="http://www.classeaa.com.br/">Classe AA</a>
        </h1>
        <p class="description">Cerimonial e eventos</p>
        <a class="action" target="_blank" href="http://www.classeaa.com.br/"><span class="icon-arrow-right"></span> classeaa.com.br</a>
        <a href="https://www.facebook.com/pages/CLASSE-AA-CERIMONIAL-E-EVENTOS/241223212587684"><span class="icon-facebook2"></span></a>
      </div>
    </div>
  </div>

  <br />

  <!-- Estúdio Gleyson Marques -->
  <div class="group-supplier-title">
    <!--<img class="art-bd-img" src="http://www.buffetagripinoguedes.com.br/site/templates/yoo_intro/favicon.ico">-->
    <a class="supplier-name" target="_blank" href="https://www.facebook.com/estudiogleysonmarques">Estúdio Gleyson Marques</a>
    <div class="supplier-container" style="border-left-color: rgb(143, 175, 14);">
      <a class="lnk-img" target="_blank" href="https://www.facebook.com/estudiogleysonmarques">
        <img class="main-art-bd-img" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c54.25.309.309/s160x160/547421_356982644412820_1888225988_n.jpg?oh=bcaf001fbfba5f58552c095b3ad2a9e6&oe=54AA082E&__gda__=1423663866_9ccff18dc5e9706f14654429016a8d9c">
      </a>
      <div class="txt-bd">
        <h1 class="title">
          <a target="_blank" href="https://www.facebook.com/estudiogleysonmarques">Estúdio Gleyson Marques</a>
        </h1>
        <p class="description">Estúdio Gleyson Marques</p>
        <a class="action" target="_blank" href="https://www.facebook.com/estudiogleysonmarques"><span class="icon-arrow-right"></span> Página no Facebook</a>
        <a href="https://www.facebook.com/estudiogleysonmarques"><span class="icon-facebook2"></span></a>
        <a href="https://www.youtube.com/channel/UCn_rTJf2In5_JfBN5ia_tgQ/videos"><span class="icon-youtube"></span></a>
      </div>
    </div>
  </div>

  <br />

  <!-- Rachel Produções Musicais -->
  <div class="group-supplier-title">
    <!--<img class="art-bd-img" src="http://www.buffetagripinoguedes.com.br/site/templates/yoo_intro/favicon.ico">-->
    <a class="supplier-name" target="_blank" href="http://rachelproducoes.com.br/">Rachel Produções Musicais</a>
    <div class="supplier-container" style="border-left-color: rgb(25, 65, 122);">
      <a class="lnk-img" target="_blank" href="http://rachelproducoes.com.br/">
        <img class="main-art-bd-img" src="http://www.rachelproducoes.com.br/images2/Banner%20Cima.png">
      </a>
      <div class="txt-bd">
        <h1 class="title">
          <a target="_blank" href="http://rachelproducoes.com.br/">Rachel Produções Musicais</a>
        </h1>
        <p class="description">Rachel Produções Musicais</p>
        <a class="action" target="_blank" href="http://rachelproducoes.com.br/"><span class="icon-arrow-right"></span> rachelproducoes.com.br</a>
        <a href="https://www.facebook.com/rachelproducoesmusicais"><span class="icon-facebook2"></span></a>
      </div>
    </div>
  </div>

  <br />

</div>
