<style>
  section, section a {
    color: #fff;
  }
  strong {
    font-weight: bolder;
  }
</style>

<section id="login-area" class="centered">
  <div id="fields-area">
    <h2 style="color: #fff; margin: 0 0 15px 0; border-bottom: 3px solid #FEA841;">► Editar convidado</h2>

    <%= render 'form' %>

    <div class="right" style="margin-bottom: 20px;">
      <%= link_to 'Detalhes', @guest %> |
      <%= link_to 'Voltar', guests_index_path %>
    </div>
    <br />
  </div>
</section>