<header id="page-header" class="clearfix">
    <div id="header-content">
        <nav id="page-menu">
          <!-- TODO: Links do menu de navegação -->
          <%= render 'layouts/navigation_bar' %>
        </nav>
    </div>
</header>

<script>
    $('.locked').click(function(){
        alert('A confirmação de presença já foi encerrada.');
        return false;
    })
</script>
