<footer id="page-footer">
  <p id="copyright" class="left">© 2014 - Developed by Diogo de Lima</p>
  <%= link_to "<span class='icon-cog'></span>".html_safe, manager_path, :class => 'right' %>
</footer>